{% extends 'base.html' %}
{% block content %}
<main class="main main--about">
    <p>Hi! I’m Marcus Peoples, a passionate web developer fluent in <strong>Python, HTML, and CSS</strong>. I have
        hands-on experience with <strong>MongoDB</strong> and <strong>SQLite3</strong>, which allows me to design and
        manage efficient, scalable databases for web applications.</p>

    <p>My ultimate goal is to become a <strong>full-stack web and app developer</strong>, creating seamless user
        experiences from front-end to back-end.</p>

    <p>Outside of coding, I enjoy <strong>playing basketball, reading books, and watching movies</strong>—activities
        that inspire creativity and keep me energized. I’m constantly learning and excited to tackle new challenges in
        the tech world!</p>

</main>
{% endblock %}