{% extends 'base.html' %}
{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:peoplescoding01@gmail.com">
                    peoplescoding01 [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/MRPeops01">
                    @MRPeops01
                </a>
    </dl>
</main>
{% endblock %}