<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Blog Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="title">
        <img src="{{ url_for('static', filename='assets/picture.png') }}"
            alt="Picture of Marcus Peoples who wrote this blog">
        <h1>Weekly Blog Post</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('about_me') }}">About Me</a> |
            <a href="{{ url_for('projects') }}">Projects</a> |
            <a href="{{ url_for('weekly_blog') }}">Weekly Blog</a>
        </nav>
    </header>

    <main>
        <h2>{{ blog_title }}</h2>
        <section>
            <p>I remember about two weeks ago when I decided I wanted to learn web development.</p>
            <p>That was a pretty big choice to make. I picked out a whole bunch of courses that would help me excel in
                web development.</p>
            <p>At first, I really did not understand the power of it, but as I was building this website, it felt like I
                unlocked a new world.</p>
        </section>
    </main>

    <footer>
        <p>Navigate the site:</p>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('about_me') }}">About Me</a> |
        <a href="{{ url_for('projects') }}">Projects</a> |
        <a href="{{ url_for('weekly_blog') }}">Weekly Blog</a>
        <br>
        <img src="{{ url_for('static', filename='assets/banner.png') }}" alt="Banner" style="margin-top:10px;">
    </footer>
</body>

</html>